.editor .codicon.codicon-light-bulb.lightbulb-glyph{
    display: none;
}

.highlight{
    background-color:#FFE9E8;
    color: #D72B0C !important;
    font-weight: 600 !important;
}

.highlightOther{
    background-color:#FFE9E8;
    color: #d77f0c !important;
    font-weight: 600 !important;
}

.Polaris-DropZone{
    min-height: 0 !important;
}

.stepper-box {
    height: 6px;
    border-radius: 4px;
    background: #dadae1;
}

.active {
    background: #47466a !important;
}

.tooltipSpan {
    overflow-x:hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}