.collapse_btn {
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 20px;
    cursor: pointer;
}

.Polaris-ActionList-SearchField {
    display: none !important;
}

.onprem_icon .Polaris-Icon__Svg {
    fill: #6D3BEF !important;
}

/* .Polaris-TopBar-Menu__Activator:not(:hover){
    background: transparent !important;
} */

.Polaris-TopBar-Menu__Activator:hover{
    --border-gradient-bg-hover: var(--p-color-bg-fill-hover)!important;
    --border-gradient-border-hover: var(--p-color-border-gradient-hover)!important;
    --border-gradient-bg-selected: var(--p-color-button-gradient-bg-fill-selected)!important;
    --border-gradient-border-selected: var(--p-color-border-gradient-selected)!important;
}
