.linkClass > .Polaris-Link--removeUnderline:hover {
    text-decoration: none !important;
}

.linkClass > .Polaris-Link:focus:not(:active){
    outline: none !important;
}

.Polaris-IndexTable__TableCell--first{
    vertical-align: top !important;
}

.Polaris-IndexTable__TableCell {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.Polaris-IndexTable__TableCell > .text-subdued{
    color: #8C9196 !important;
}

.Polaris-IndexTable__TableCell > .text-subdued > .Polaris-Link > .Polaris-Badge{
    color: #8C9196 !important;
}

.icon-deactivated > .Polaris-Icon svg{
    fill: #BABEC3 !important;
}

.Polaris-IndexTable {
    border-radius: unset !important;
}

.ag-grid-search-bar .Polaris-TextField--focus,
.ag-grid-search-bar .Polaris-TextField__ConnectedItem--focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent !important;
}

.ag-grid-search-bar .Polaris-TextField__Backdrop::after,
.ag-grid-search-bar .Polaris-TextField__Backdrop::before {
    box-shadow: none !important;
    outline: none !important;
}

.ag-grid-search-bar .Polaris-TextField__Input:focus-visible ~ .Polaris-TextField__Backdrop::after,
.ag-grid-search-bar .Polaris-TextField--focus > .Polaris-TextField__Input ~ .Polaris-TextField__Backdrop::after {
    box-shadow: none !important;
    outline: none !important;
}