.linkClass > .Polaris-Link--removeUnderline:hover {
    text-decoration: none !important;
}

.linkClass > .Polaris-Link:focus:not(:active){
    outline: none !important;
}

.Polaris-IndexTable__TableCell--first{
    vertical-align: top !important;
}

.Polaris-IndexTable__TableCell {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.Polaris-IndexTable__TableCell > .text-subdued{
    color: #8C9196 !important;
}

.Polaris-IndexTable__TableCell > .text-subdued > .Polaris-Link > .Polaris-Badge{
    color: #8C9196 !important;
}

.icon-deactivated > .Polaris-Icon svg{
    fill: #BABEC3 !important;
}

.Polaris-IndexTable {
    border-radius: unset !important;
}