.onboarding .Polaris-TopBar__SecondaryMenu {
    width: 50vw;
    padding: 0 8vw;
}

.onboarding .Polaris-Avatar--sizeExtraSmall {
    height: 20px !important;
}

.main-card-onboarding {
    margin: auto;
    width: 32vw;
    margin-top: 4.5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.expand{
    width: 42vw !important;
}

.change-margin{
    margin-top: 1vw !important;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2vw;
    padding-bottom: 0;}

.suite-card{
    border-radius: 8px;
    cursor: pointer;
}

.active-card {
    border: 2.5px solid #47466a !important;
}

.header-active{
    padding: 2px 12px;
    border: 1px solid;
    border-radius: 8px;
    background: #47466a26;
}