.message-container {
    flex: 4;
    background: #F6F6F7;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.left-nav-gpt {
    padding: 8px;
    background-color:#F6F6F7;
    border-right: 1px solid #C9CCCF;
}

.input-gpt{
    flex: 1;
    width: 85%;
    margin: auto;
}

.input-gpt .Polaris-TextField__Backdrop {
    border-radius: 8px !important;
}

.input-gpt .Polaris-TextField{
    height: 4vh;
    font-size: 14px !important;
}

.response-message .Polaris-HorizontalStack {
    align-items: flex-start !important;
}