# Add these environment variables to your .env file and update the values as needed.

# Common environment variables
export DATA_INGESTION_URL=http://localhost:9091
export AKTO_TOKEN=   # Optional: authorization token for Akto service
export SYNC_MODE=true
export TIMEOUT=5

# if deployed on Google Cloud Run:
export K_SERVICE=your-service-name  #auto injected by Cloud Run
export CLOUD_RUN_SERVICE_URL=your-service-url

# if deployed on Vertex AI Agent Engine, no need to set these as they will be auto injected