.idea/
**/target
*.iml
**/output
**/.DS_Store
*.pem
**/node_modules
**/yarn-error.log
**/yarn.lock
**/.vscode/
**/.project
**/.classpath
**/.settings
**/dist
**/gen
libawesome.dylib
temp_*
*.templates-config.json
https:
**/target_test-classes
**/data-kafka-data
**/data-zoo-data
**/data-zoo-logs
**/bin
.factorypath
model.onnx
test_scripts/*
run-master.sh
run-threat-consumer.sh