.Polaris-Popover__Content {
    max-width: 50rem !important;
}
.Polaris-Filters-FilterPill__PopoverWrapper {
    max-width: 50rem !important;
}

.hideTableHead .Polaris-LegacyCard__Section:first-child {
    border-top-left-radius: 0;
    border-top-right-radius:0;
}

.hideTableHead .Polaris-Filters__FiltersWrapper {
    border-bottom:0
}

.removeHeaderColor .Polaris-IndexTable__TableHeading {
    background:none;
}

.add-new-buttons{
    position: absolute;
    z-index: 2;
    right: 144px;
    margin-top: -36px;
}

.add-new-buttons .Polaris-Icon__Svg{
    max-width: 120% !important;
    max-height: 120% !important;
    width: 120% !important;
}

.add-new-buttons .Polaris-Icon{
    color: rgba(97, 106, 117, 1) !important;
}