.Polaris-Popover__Content {
    max-width: 50rem !important;
}
.Polaris-Filters-FilterPill__PopoverWrapper {
    max-width: 50rem !important;
}

.hideTableHead .Polaris-LegacyCard__Section:first-child {
    border-top-left-radius: 0;
    border-top-right-radius:0;
}

.hideTableHead .Polaris-Filters__FiltersWrapper {
    border-bottom:0
}

.removeHeaderColor .Polaris-IndexTable__TableHeading {
    background:none;
}