.sub-category-lists .sub-category-lists-item:hover h3{
    color: #202223 !important;
}

.sub-category-lists:hover{
    cursor: pointer;
}

.sub-category-lists .sub-category-lists-item:hover{
    background-color: #F6F6F7 !important;
}

.category-list-item .Polaris-ResourceItem__ListItem:hover {
    background-color: var(--p-color-bg-hover) !important;
}

.flyLayoutSuite{
    position: absolute;
    top: 0;
    right: -50vw;
    transition: right 0.3s ease-in-out;
    z-index: 400;
}

.flyLayoutSuite.show {
    right: 0;
}

.flyLayoutSuite .category-list-item:not(:last-child) > .Polaris-ResourceItem__ListItem {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.flyLayoutSuite .category-list-item .Polaris-ResourceItem__ListItem {
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: white;
}

.flyLayoutSuite .category-list-item:last-child .sub-category-lists-item:last-child {
    border-bottom-left-radius: var(--p-border-radius-2)!important;
    border-bottom-right-radius: var(--p-border-radius-2) !important;
}