.sub-category-lists .sub-category-lists-item:hover h3{
    color: #202223 !important;
}

.sub-category-lists:hover{
    cursor: pointer;
}

.sub-category-lists .sub-category-lists-item:hover{
    background-color: #F6F6F7 !important;
}

.category-list-item .Polaris-ResourceItem__ListItem:hover {
    background-color: var(--p-color-bg-hover) !important;
}
/* 
.category-list-item:hover {
    background-color: var(--p-color-bg-hover) !important;
} */

.flyLayoutSuite{
    position: absolute;
    top: 0;
    right: -50vw;
    transition: right 0.3s ease-in-out;
    z-index: 400;
}
.flyLayoutSuite.show {
    right: 0;
}