.filterClass .Polaris-Filters__FiltersWrapper {
  border-bottom: 0;
}

.div-link {
  cursor: pointer;
}
.div-link:hover {
  border-bottom: 1px solid #b98900;
}

.banner-wrapper .Polaris-Banner--withinContentContainer {
  border-radius: 0px !important;
  border: unset !important;
}

.banner-wrapper .Polaris-Banner--statusCritical {
  background-color: #fff4f4 !important;
}
