#approve-button {
    display: flex;
    padding: 2px 8px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--akto-primary);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset;
    color: white;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
}

#discard-button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #6D7175;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

@keyframes ellipsis {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}