#approve-button {
    display: flex;
    padding: 2px 8px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--akto-primary);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset;
    color: white;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
}

#blocked-state-container {
    position: absolute;
    min-height: 38px;
    top: -38px;
    transform: translateX(-50%);
    width: 90%;
    left: 50%;
    transform: translateX(-50%) !important;
}

#blocked-state-inner-container {
  /* box-shadow: 0px 1px 0px 0px #898F94 inset; */
}

#thinking-ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 1.5s steps(4, end) infinite;
    width: 0;
}

#discard-button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #6D7175;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

@keyframes ellipsis {
  0% {
    width: 0px;
  }
  100% {
    width: 1.2em; /* Adjust based on your font size */
  }
}