.Polaris-InlineStack {
    align-items: center !important;
}
.Polaris-ResourceItem__Actions {
    display: flex !important;
}
.Polaris-LegacyCard__Section:first-child > .Polaris-LegacyCard__Header {
    padding: 0 !important;
}

.Polaris-LegacyCard__Header > .Polaris-LegacyStack--alignmentBaseline {
    align-items: center;
}

/* .header-css .Polaris-Icon__Svg {
    fill:white !important;
} */

.header-css .Polaris-Button--variantPlain .Polaris-Icon__Svg:hover{
    fill: var(--pc-button-icon-fill) !important;
}