.Polaris-HorizontalStack {
    align-items: center !important;
}
.Polaris-ResourceItem__Actions {
    display: flex !important;
}
.Polaris-LegacyCard__Section:first-child > .Polaris-LegacyCard__Header {
    padding: 0 !important;
}

.Polaris-LegacyCard__Header > .Polaris-LegacyStack--alignmentBaseline {
    align-items: center;
}