.flyLayout{
    position: absolute;
    top: 0;
    right: -50vw;
    transition: right 0.3s ease-in-out;
    z-index: 400;
    height: 100vh;
}

.innerFlyLayout{
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    scrollbar-width: none;
}

.show{
    right:0;
}