/* unread */
.custom-tag-true .Polaris-Tag {
    background-color: #FFF4F4;
}

.custom-tag-true p {
    color: #D72C0D;
}

/* read */
.custom-tag-false .Polaris-Tag {
    background-color: #F1F8F5;
}

.custom-tag-false p {
    color: #008060;
}

.badge-wrapper-CRITICAL .Polaris-Badge {
    background-color: #E45357 !important;
    color: white !important;
}

.badge-wrapper-HIGH .Polaris-Badge {
    background-color: #EF864C !important;
    color: white !important;
}

.badge-wrapper-MEDIUM .Polaris-Badge {
    background-color: #F6C564 !important;
    color: white !important;
}

.badge-wrapper-LOW .Polaris-Badge {
    background-color: #6FD1A6;
    color: white !important;
}