.report-page-break {
    page-break-before: always;
}

#report-container {
    margin: 8px 22vw 0px 22vw;
    height: 94vh;
    overflow: auto;
}

.report-header-css {
    background-color: #1E3161;
    padding: 16px;
    color: white;
    height: 100%;
    z-index: 2;
}

.top-bar-logo {
    margin-right: 16px;
    margin-left: 16px;
}

.report-cover-page-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.report-cover-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.report-cover-page-content {
    position: absolute;
    top: 18%;
    left: 3%;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 4;
    pointer-events: none;
    padding: 32px;
    background-color: #7958F3;
}

.report-cover-page-content > * {
    pointer-events: all;
    z-index: 4;
}

.report-akto-logo {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 74.4px;
}

.report-default-heading {
    color: #FDCA34;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.heading-text .Polaris-Text--heading4xl {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 77.5px;
    letter-spacing: -0.02em;
    text-align: left;
}

.semibold-subtext-info {
    font-weight: 600;
}

.subdued-color-text {
    color: #6D7175;
}

#organization-name:hover,
#second-line-wrapper:hover {
    cursor: pointer;
}

.editable-input {
    width: 100% !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: white !important;
}

.report-end-image-container {
    position: relative;
    width: 100%;
    height: 256px;
}

.report-end-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.report-end-image-text {
    width: 94%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7958F3;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 64px;
    z-index: 2;
    border: 1px solid white;
}

.badges-info-container p {
    font-style: italic;
}

.g2-badge {
    width: 104px;
}

.header-name {
    word-break: normal !important;
}

.header-value {
    color: #6D7175 !important;
    line-break: anywhere !important;
}

.request-target {
    color: #0451a5 !important;
}

@media print {
    #report-container {
        margin: auto 5vw;
        height: auto;
    }

    body {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}
