.stigg-subscription-usage-layout {
    border: 0px !important;
    padding: 12px 0px !important;
}

.stigg-payment-details-section-layout {
    border: 0px !important;
    padding: 12px 0px !important;
}

.stigg-customer-portal-subscriptions-overview {
    border: 0px !important;
    padding: 12px 24px !important;
}

.stigg-watermark {
    display: none;
}

.sc-gEvEer.hutPYK.stigg-price-billing-period-text.typography-level-3.css-1hr2sxf-StyledText.ewjez2x0{
    display: none !important;
}

