#report-container {
    margin: auto 20vw;
}

.page-break {
    page-break-before: always;
  }

.page-break-after {
    page-break-after: always;
}

#toc {
    margin: 20px;
}

.toc-children-container {
    margin-left: 20px;
    margin-top: 8px;
}

#report-summary {
    margin: 20px;
}

#findings-table {
    margin: 20px;
}

.category-container {
    margin: 20px;
}

.issue-container {
    margin: 5px 10px 10px 10px;
}

#report-secondary-menu-container {
    color: white;
    height: 100%;
    z-index: 2; /* to get the menu on top */
}

.top-bar-logo {
    margin-right: 16px;
    margin-left: 16px;  /* Add some distance between the logo and the download button */
}

.report-header-css {
    background-color: #1E3161;
    padding: 16px;  /* Optional: Add padding for better spacing */
    width: 100vw;
    margin-left: -22vw;
    display: flex;
    justify-content: space-between;
}

.download-button {
    background-color: purple; /* Subject to change*/
    color: white;
    padding: 8px 16px; /* Optional: Add padding for better spacing */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.report-cover-page-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height to ensure it fits one page */
    overflow: hidden; /* Ensure no overflow */
  }
  
  .report-cover-page {
    width: 100%;
    height: 100%; /* Stretch the image to fill the container */
    object-fit: cover; /* Cover the entire container */
  }

.report-cover-page-content {
    position: absolute;
    top: 20%;
    left: 7%; /* Comfortable blank space from the start */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 4;
    pointer-events: none;
}

.report-cover-page-content > * {
    pointer-events: all;
    z-index: 4; /* Higher z-index to display content on top */
}

.report-akto-logo {
    position: absolute;
    top: 7%;
    left: 7%; /* To align with other content on the cover page */
}

.heading-text .Polaris-Text--heading4xl { /* Styles from figma design*/
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 77.5px;
    letter-spacing: -0.02em;
    text-align: left;
}

.report-end-image-container {
    position: relative;
    width: 100%;
    height: auto; /* To maintain the aspect ratio */
}

.report-end-image {
    width: 100%;
    height: auto; /* To maintain the aspect ratio */
    object-fit: cover;
}

.report-end-image-text {
    position: absolute;
    top: 50%; /* To align text in centre */
    left: 50%; /* To align text in centre */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 64px; /* Matching the heading of cover */
    z-index: 2;
}