.dashboard {
    overflow-x: hidden;
}
.custom-color .Polaris-Text--success {
    color: rgb(0, 127, 95) !important;
}

.custom-badge-color .Polaris-Badge--statusCritical {
    background-color: #E45357;
    color: white;
}

.custom-badge-color .Polaris-Badge--statusAttention{
    background-color: #EF864C;
    color: white;
}

.custom-badge-color .Polaris-Badge--statusWarning{
    background-color: #F6C564;
}

.custom-badge-color .Polaris-Badge--statusInfo {
    background-color: #F5D8A1;
}

.custom-badge-color .Polaris-Badge--statusNew {
    background-color: #A4E8F2;
}

.custom-badge-color .Polaris-Badge--statusSuccess {
    background-color: #6FD1A6;
    color: white;
}

.aktoButton {
    z-index: 518;
    position: fixed;
    right: 9vw;
    top: 11px;
    padding: 4px 12px;
    background: #10a37f;
    color: white;
    border-radius: 8px;
}

.aktoButton .Polaris-Avatar--imageHasLoaded {
    width: 16px !important;
}

.header-css {
    width: 100vw;
    margin-left: -22vw;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}

.call-banner {
    width: 200px;
    position: fixed;
    left: 1.2vw;
    z-index: 100;
    bottom: 8vh;
}

.call-banner .Polaris-Text--headingMd {
    font-size: 14px !important;
}

.call-banner .Polaris-Banner--withinPage {
    background: #EDEEEF !important;
}

.alerts-banner {
    width: 400px;
    position: fixed;
    right: 24px;
    z-index: 100;
    bottom: 80px;
}

.alerts-banner .Polaris-Banner--withinPage{
    padding: 8px !important;
    margin-top: unset !important;
}

.alerts-banner .Polaris-Banner__Dismiss{
    top: 12px !important;
}

:root {
    --akto-primary: #6200EA;
   --color-post: #49cc90 ;
   --color-get: #61affe ;
   --color-put: #fca130 ;
   --color-delete: #f93e3e ;
   --color-head: #9012fe ;
   --color-patch: #50e3c2 ;
   --color-disabled: #ebebeb ;
   --color-options: #0d5aa7 ;
   --white: #ffffff;

    --p-color-bg-fill-brand: var(--akto-primary) !important;
    --p-color-bg-fill-brand-hover: #5400CB !important;
    --p-color-bg-fill-brand-active: #4700AE !important;
    /* --p-color-bg-surface-brand-hover: #ECEBFF !important; */
    --p-color-bg-surface-info-hover: #F2F7FE !important;

    --p-color-text-primary: var(--akto-primary) !important;
    /* --p-color-text-success: var(--akto-primary) !important; */
    --p-color-text-brand-hover: var(--akto-primary) !important;
    
    /* --p-color-icon-brand: var(--akto-primary) !important; */
    --p-color-bg-surface-brand-selected: #F6F6F7 !important;

    --p-color-bg-surface-critical: #FED3D1 !important;
    --p-color-bg-surface-caution: #FFD79D !important;
    /* --p-color-bg-surface-info: #A4E8F2 !important; */
}

.Polaris-Page{
    padding: 0 32px !important;
}



/* .Polaris-Frame__Main {
    background: #F6F6F7 !important;
} */

.Polaris-Tabs {
    padding: 0 !important;
}

.Polaris-Tabs__Tab--active {
    background: #EDEEEF !important;
    color: #202223 !important;
}

.Polaris-Tabs .Polaris-Badge--statusSuccess{
    background: rgba(221, 224, 228, 1) !important;
}
.Polaris-TopBar-UserMenu__Details{
    margin-right: 0px !important;
}

.reduce-size .Polaris-Avatar--sizeExtraSmall{
    --pc-avatar-extra-small-size: 1.25rem;
}

.beamer_defaultBeamerSelector {
    display: none !important;
}

.beamer_icon.active{
    top: -8px !important;
    left: 6px !important;
    height: 17px !important;
    width: 17px !important;
}

.Polaris-VideoThumbnail__Thumbnail{
    border-radius: 8px !important;
}

.Polaris-Frame__Skip{
    visibility: hidden !important;
}

.form-class .Polaris-Label{
    color: #202223 !important;
}

.Polaris-Text--break {
    white-space: normal !important;
    word-break: break-all !important;
}

.test-title .Polaris-Text--break {
    word-break: normal !important;
}

.Polaris-Frame__Skip{
    visibility: hidden !important;
}

.form-class .Polaris-Label{
    color: #202223 !important;
}

.welcome-back-modal-title {
    width: 95%;
    position: absolute;
    z-index: 2;
    background: white;
    margin-top: -20px;
    padding-block: 10px;
}

.Polaris-IndexTable__TableHeading--flush{
    padding: 0rem !important;
}

.Polaris-Button--variantPrimary, .Polaris-Button--variantPrimary:hover, .Polaris-Button--variantPrimary:active {
    box-shadow: none !important;
}

.Polaris-Button--variantPrimary {
    background-color: #6200EA !important;
    --pc-button-bg-gradient:#6200EA !important;
}

.Polaris-Button--variantPrimary:hover{
    background-color: #5400CB !important;
    --pc-button-bg-gradient:#5400CB !important;
}Polaris-Checkbox__Backdrop

.Polaris-Button--variantPrimary:active{
    background-color: #4700AE !important;
    --pc-button-bg-gradient:#4700AE !important;
}

.call-banner .Polaris-Link--monochrome{
    color: var(--p-color-text-link) !important;
}

.call-banner .Polaris-Link--monochrome:hover{
    color: var(--p-color-text-link-hover) !important;
}

.polaris-call-link:hover{
    color: var(--p-color-text-link-hover) !important;
}

.Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop, .Polaris-Checkbox__Input.Polaris-Checkbox__Input--indeterminate + .Polaris-Checkbox__Backdrop{
    background-color: #6200EA !important;
    box-shadow: none !important;
}

.Polaris-Pagination.Polaris-Pagination--table .Polaris-Box{
    background-color: #ffffff !important;
}

.Polaris-Button--disabled{
    background: var(--pc-button-bg_disabled) !important;
    color: var(--pc-button-color_disabled) !important;
}

.highcharts-axis-labels.highcharts-xaxis-labels span{
    text-align: center !important;
}