.dashboard {
    overflow-x: hidden;
}

.aktoButton {
    z-index: 518;
    position: fixed;
    right: 9vw;
    top: 11px;
    padding: 4px 12px;
    background: #10a37f;
    color: white;
    border-radius: 8px;
}

.aktoButton .Polaris-Avatar--imageHasLoaded {
    width: 16px !important;
}

.header-css {
    width: 100vw;
    margin-left: -22vw;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}
.Polaris-TopBar{
    border-bottom: 1px solid #E1E3E5;
}

:root {
    --akto-primary: #6200EA;
   --color-post: #49cc90 ;
   --color-get: #61affe ;
   --color-put: #fca130 ;
   --color-delete: #f93e3e ;
   --color-head: #9012fe ;
   --color-patch: #50e3c2 ;
   --color-disabled: #ebebeb ;
   --color-options: #0d5aa7 ;

    --p-color-bg-primary: var(--akto-primary) !important;
    --p-color-bg-primary-hover: #5400CB !important;
    --p-color-bg-primary-active: #4700AE !important;
    --p-color-bg-primary-subdued-hover: #ECEBFF !important;

    --p-color-text-primary: var(--akto-primary) !important;
    --p-color-text-success: var(--akto-primary) !important;
    --p-color-text-primary-hover: var(--akto-primary) !important;
    
    --p-color-icon-primary: var(--akto-primary) !important;
    --p-color-bg-interactive-selected: #F6F6F7 !important;

    --p-color-bg-critical-subdued: #FED3D1 !important;
    --p-color-bg-caution-subdued: #FFD79D !important;
    --p-color-bg-info-subdued: #A4E8F2 !important;
}

.Polaris-Page{
    padding: 0 32px !important;
}

.Polaris-Frame__Main, .Polaris-Navigation {
    background: #F6F6F7 !important;
}

.Polaris-Tabs {
    padding: 0 !important;
}

.Polaris-Tabs__Tab--active {
    background: #EDEEEF !important;
    color: #202223 !important;
}

.Polaris-Tabs .Polaris-Badge--statusSuccess{
    background: rgba(221, 224, 228, 1) !important;
}