.editor-navbar .Polaris-Navigation__PrimaryNavigation{
    flex: none !important;
    gap: 20px !important;
}

.editor-navbar .Polaris-Navigation{
    max-width: 18rem !important;
}

.editor-navbar .Polaris-Connected{
    padding: 0 12px !important;
}

.text-overflow {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    display: flex !important;
    max-width: 200px;
}

.test-header {
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 10px;
}
.text {
    line-height: 2;
    width: 13.35rem;
    font-size: 16px !important;
    align-items: flex-start;
    display: flex;
    padding-left: 5px;
}

.active{
    background: #ECEBFF;
}

.editor-navbar .Polaris-Navigation__Icon{
    margin-right: 2px !important;
}
