# Akto guardrails service endpoint (required)
AKTO_DATA_INGESTION_URL=http://localhost:80

# Authorization token for Akto service (optional)
AKTO_TOKEN=

# Block on violation (true) or log-only (false)
AKTO_SYNC_MODE=true

# HTTP timeout for Akto calls (seconds)
AKTO_TIMEOUT=5

# Whether to log request and response payloads (true/false)
LOG_PAYLOADS=true

# Logging level (e.g., DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO

# host for the langchain agent to identify itself in the Akto dashboard (optional, api.langchain.com by default)
LANGCHAIN_API_HOST=

# path for the langchain agent to identify itself in the Akto dashboard (optional, /langchain/chat by default)
LANGCHAIN_API_PATH=