<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>data-ingestion-service</display-name>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.akto.filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- GzipFilter (org.eclipse.jetty.servlets.GzipFilter) was removed in Jetty 12 - there is no
         org.eclipse.jetty.ee8.servlets.GzipFilter equivalent (jetty-ee8-servlets only ships
         CrossOriginFilter). Response compression is now handled by Jetty's server-side gzip
         module instead - see docker/jetty-start.d/gzip.ini for the equivalent mimeTypes config. -->

    <listener>
        <listener-class>com.akto.listener.InitializerListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.akto.listener.RequestEventListener</listener-class>
    </listener>
   
</web-app>
