{
  "swagger": "2.0",
  "x-explorer-enabled": false,
  "info": {
    "title": "Zoom API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List sub accounts",
        "description": "List all the sub accounts under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts",
        "parameters": [
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Account list returned",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a sub account",
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Account",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Account",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Account ID"
                },
                "owner_id": {
                  "type": "string",
                  "description": "Account Owner ID"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Account owner email"
                },
                "created_at": {
                  "type": "string",
                  "description": "Account created date time"
                }
              }
            }
          },
          "409": {
            "description": "Account with that email already exists"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Retrieve a sub account",
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "account",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account object returned",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Account ID"
                },
                "owner_id": {
                  "type": "string",
                  "description": "Account Owner ID"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Account Owner email"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Account creation date/time"
                },
                "options": {
                  "$ref": "#/definitions/AccountOptions"
                },
                "vanity_url": {
                  "type": "string",
                  "description": "Account Vanity URL"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "summary": "Disassociate an account",
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountDisassociate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "summary": "Update a sub account's options",
        "description": "Update a sub account's options under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountOptionsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountOptions"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account options updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "summary": "Retrieve a sub account's settings",
        "description": "Retrieve a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettings",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "schema": {
              "$ref": "#/definitions/AccountSettings"
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update a sub account's settings",
        "description": "Update a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettingsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSettings"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account settings updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/managed_domains": {
      "get": {
        "summary": "Retrieve a sub account's managed domains",
        "description": "Retrieve a sub account's managed domains under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountManagedDomain",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account managed domains returned",
            "schema": {
              "$ref": "#/definitions/DomainsList"
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "summary": "Retrieve billing information for a sub account",
        "description": "Retrieve billing information for a sub account under the master account",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBilling",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account billing contact information returned",
            "schema": {
              "$ref": "#/definitions/BillingContactRequired"
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update billing information for a sub account",
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBillingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingContact"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account billing contact information updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "summary": "Retrieve plan information for a sub account",
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlans",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account plans returned",
            "schema": {
              "$ref": "#/definitions/AccountPlans"
            }
          },
          "404": {
            "description": "Account not fond"
          }
        }
      },
      "post": {
        "summary": "Subscribe plans for a sub account",
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanCreate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/definitions/BillingContactRequired"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/AccountPlans"
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated",
            "schema": {
              "$ref": "#/definitions/AccountPlans"
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/base": {
      "put": {
        "summary": "Update a base plan for a sub account",
        "description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanBaseUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanBaseRequired"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        }
      }
    },
    "/accounts/{accountId}/plans/addons": {
      "post": {
        "summary": "Add an additional plan for sub account",
        "description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonCreate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanRequired"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated"
          }
        }
      },
      "put": {
        "summary": "Update an additional plan for sub account",
        "description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanRequired"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "description": "List groups under your account",
        "tags": [
          "Groups"
        ],
        "parameters": [],
        "operationId": "groups",
        "responses": {
          "200": {
            "description": "List of groups returned",
            "schema": {
              "$ref": "#/definitions/GroupList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Create a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created group",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Group ID"
                },
                "name": {
                  "type": "string",
                  "description": "Group name"
                },
                "total_members": {
                  "type": "integer",
                  "description": "Group member count"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "summary": "Retrieve a group",
        "description": "Retrieve a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "group",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Group object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Group"
                }
              ]
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update a group",
        "description": "Update a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name. Must be unique in one account. Character length is less than 128."
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group updated"
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "Delete a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members": {
      "get": {
        "summary": "List a group's members",
        "description": "List a group's members under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Group member list returned",
            "schema": {
              "$ref": "#/definitions/GroupMemberList"
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "post": {
        "summary": "Add group members",
        "description": "Add members to a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersCreate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of Group members",
                  "maximum": 30,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "schema": {
              "properties": {
                "ids": {
                  "type": "string"
                },
                "added_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete a group member",
        "description": "Delete a member from a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted"
          },
          "404": {
            "description": "Group or Group member not found"
          }
        }
      }
    },
    "/h323/devices": {
      "get": {
        "summary": "List H.323/SIP Devices.",
        "description": "List H.323/SIP Devices on your Zoom account.",
        "tags": [
          "Devices"
        ],
        "parameters": [],
        "operationId": "deviceList",
        "responses": {
          "200": {
            "description": "List of H.323/SIP Devices returned.",
            "schema": {
              "$ref": "#/definitions/DeviceList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a H.323/SIP Device",
        "description": "Create a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "H.323/SIP Device",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "H.323/SIP Device created",
            "headers": {
              "Content-Location": {
                "description": "Location of created device",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Device ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Device"
                }
              ]
            }
          }
        }
      }
    },
    "/h323/devices/{deviceId}": {
      "patch": {
        "summary": "Update a H.323/SIP Device",
        "description": "Update a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device updated"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a H.323/SIP Device",
        "description": "Delete a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceDelete",
        "parameters": [
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device deleted"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      }
    },
    "/v2/tracking_fields": {
      "get": {
        "summary": "List Tracking Fields.",
        "description": "List Tracking Fields on your Zoom account.",
        "tags": [
          "TrackingField"
        ],
        "parameters": [],
        "operationId": "trackingfieldList",
        "responses": {
          "200": {
            "description": "List of Tracking Fields returned.",
            "schema": {
              "$ref": "#/definitions/TrackingFieldList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a Tracking Field",
        "description": "Create a Tracking Field on your Zoom account",
        "tags": [
          "TrackingField"
        ],
        "operationId": "trackingfieldCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Tracking Field",
            "schema": {
              "$ref": "#/definitions/TrackingField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Tracking Field created",
            "headers": {
              "Content-Location": {
                "description": "Location of created tracking field",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Tracking Field ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/TrackingField"
                }
              ]
            }
          }
        }
      }
    },
    "/v2/tracking_fields/{fieldId}": {
      "get": {
        "summary": "Retrieve a tracking field",
        "description": "Retrieve a tracking field",
        "tags": [
          "TrackingField"
        ],
        "operationId": "trackingfieldGet",
        "parameters": [
          {
            "in": "path",
            "name": "fieldId",
            "description": "The Tracking Field ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking Field object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Tracking Field ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/TrackingField"
                }
              ]
            }
          },
          "404": {
            "description": "Tracking Field not found"
          }
        }
      },
      "patch": {
        "summary": "Update a Tracking Field",
        "description": "Update a Tracking Field on your Zoom account",
        "tags": [
          "TrackingField"
        ],
        "operationId": "trackingfieldUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "fieldId",
            "description": "The Tracking Field ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackingField"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tracking Field updated"
          },
          "404": {
            "description": "Tracking Field not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a Tracking Field",
        "description": "Delete a Tracking Field on your Zoom account",
        "tags": [
          "TrackingField"
        ],
        "operationId": "trackingfieldDelete",
        "parameters": [
          {
            "in": "path",
            "name": "fieldId",
            "description": "The Tracking Field ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Tracking Field deleted"
          },
          "404": {
            "description": "Tracking Field not found"
          }
        }
      }
    },
    "/im/groups": {
      "get": {
        "summary": "List IM Groups",
        "description": "List IM groups under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of IM Groups returned",
            "schema": {
              "$ref": "#/definitions/IMGroupList"
            }
          }
        }
      },
      "post": {
        "summary": "Create an IM Group",
        "description": "Create a IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type",
                  "default": "normal",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "IM Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created IM Group",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Group ID"
                },
                "name": {
                  "type": "string",
                  "description": "Group name"
                },
                "total_members": {
                  "type": "integer",
                  "description": "Group member count"
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            }
          }
        }
      }
    },
    "/im/groups/{groupId}": {
      "get": {
        "summary": "Retrieve an IM Group",
        "description": "Retrieve an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroup",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/IMGroup"
                }
              ]
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update an IM Group",
        "description": "Update an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group updated"
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete an IM Group",
        "description": "Delete an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group deleted"
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members": {
      "get": {
        "summary": "List an IM Group's members",
        "description": "List an IM Group's members under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group member list returned",
            "schema": {
              "$ref": "#/definitions/GroupMemberList"
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "post": {
        "summary": "Add IM Group members",
        "description": "Add members to an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersCreate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of IM Group members",
                  "maximum": 10,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "schema": {
              "properties": {
                "ids": {
                  "type": "string"
                },
                "added_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete an IM Group member",
        "description": "Delete a member from an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group member deleted"
          },
          "404": {
            "description": "IM Group or IM Group member not found"
          }
        }
      }
    },
    "/im/chat/sessions": {
      "get": {
        "summary": "Retrieve IM Chat sessions",
        "description": "Retrieve IM Chat sessions for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatSessions",
        "parameters": [
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat sessions Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken4IMChat"
                },
                {
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "description": "Array of session objects",
                      "items": {
                        "properties": {
                          "session_id": {
                            "type": "string",
                            "description": "IM Chat session ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "IM Chat session type"
                          },
                          "name": {
                            "type": "string",
                            "description": "Meeting topic"
                          },
                          "last_message_sent_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last message sent time"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/im/chat/sessions/{sessionId}": {
      "get": {
        "summary": "Retrieve IM Chat messages",
        "description": "Retrieve IM Chat messages for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatMessages",
        "parameters": [
          {
            "$ref": "#/parameters/SessionId"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat messages Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "description": "IM Chat session ID"
                    },
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken4IMChat"
                },
                {
                  "properties": {
                    "messages": {
                      "type": "array",
                      "description": "Array of session objects",
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "IM Chat message content"
                          },
                          "sender": {
                            "type": "string",
                            "description": "IM Chat message sender"
                          },
                          "date_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "IM Chat message sent time"
                          },
                          "action": {
                            "type": "string",
                            "description": "IM Chat message action"
                          },
                          "action_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Action time"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/users/{userId}/meetings": {
      "get": {
        "summary": "List meetings",
        "description": "List meetings for a user",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetings",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "$ref": "#/parameters/MeetingType"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Meeting objects returned",
            "schema": {
              "$ref": "#/definitions/MeetingList"
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "post": {
        "summary": "Create a meeting",
        "description": "Create a meeting for a user <aside>The expiration time of start_url is two hours. But for API users, the expiration time is 90 days.</aside>",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingCreate",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting object",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "schedule_for": {
                      "type": "string",
                      "description": "Email or userId if you want to schedule meeting for another user."
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Meeting"
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Meeting Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Meeting",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Meeting unique ID"
                    },
                    "id": {
                      "type": "string",
                      "description": "Meeting ID, also known as meeting number"
                    },
                    "host_id": {
                      "type": "string",
                      "description": "ID of the user set as host of meeting"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingInfo"
                }
              ]
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/meetings/{meetingId}": {
      "get": {
        "summary": "Retrieve a meeting",
        "description": "Retrieve a meeting's details",
        "tags": [
          "Meetings"
        ],
        "operationId": "meeting",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting object returned",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Meeting unique ID"
                    },
                    "id": {
                      "type": "string",
                      "description": "Meeting ID, also know as meeting number"
                    },
                    "host_id": {
                      "type": "string",
                      "description": "ID of the user set as host of meeting"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingInfo"
                }
              ]
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "patch": {
        "summary": "Update a meeting",
        "description": "Update a meeting's details",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "schedule_for": {
                      "type": "string",
                      "description": "Email or userId if you want to schedule meeting for another user."
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingUpdate"
                }
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting Updated"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting",
        "description": "Delete a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingDelete",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/status": {
      "put": {
        "summary": "Update a meeting's status",
        "description": "Update a meeting's status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingStatus",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "end"
                  ],
                  "x-enum-descriptions": [
                    "end a meeting"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting updated"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/invitation": {
      "get": {
        "summary": "Retrieve meeting invitation",
        "description": "Retrieve a meeting invitation",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingInvitation",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting invitation Returned",
            "schema": {
              "$ref": "#/definitions/MeetingInvitation"
            }
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants": {
      "get": {
        "summary": "List a meeting's registrants",
        "description": "List registrants of a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrants",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          },
          {
            "$ref": "#/parameters/RegistrantStatus"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MeetingRegistrantList"
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "post": {
        "summary": "Add a meeting registrant",
        "description": "Register a participant for a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrantCreate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "query",
            "name": "occurrence_ids",
            "type": "string",
            "description": "Occurrence IDs. You can find these with the meeting get API. Multiple values separated by comma."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeetingRegistrant"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registration created",
            "schema": {
              "type": "object",
              "properties": {
                "registrant_id": {
                  "type": "string",
                  "description": "Registrant ID"
                },
                "id": {
                  "type": "string",
                  "description": "Registrant ID"
                },
                "topic": {
                  "type": "string",
                  "description": "Topic"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start time"
                },
                "join_url": {
                  "type": "string",
                  "description": "Join URL for this registrant"
                }
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants/status": {
      "put": {
        "summary": "Update a meeting registrant's status",
        "description": "Update a meeting registrant's status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrantStatus",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistrantStatus"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Registrant status updated"
          },
          "404": {
            "description": "Meeting or Registrant not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/livestream": {
      "patch": {
        "summary": "Update a meeting live stream",
        "description": "Update a meeting's live stream",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingLiveStreamUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting",
            "schema": {
              "$ref": "#/definitions/MeetingLiveStream"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting live stream Updated"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/livestream/status": {
      "patch": {
        "summary": "Update a meeting live stream status",
        "description": "Update a meeting's live stream status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingLiveStreamStatusUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting",
            "schema": {
              "$ref": "#/definitions/MeetingLiveStreamStatus"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting live stream Updated"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/past_meetings/{meetingUUID}": {
      "get": {
        "summary": "Retrieve past meeting details",
        "description": "Retrieve ended meeting details",
        "tags": [
          "Meetings"
        ],
        "operationId": "pastMeetingDetails",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingUUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting detail Returned",
            "schema": {
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Meeting UUID"
                },
                "id": {
                  "type": "integer",
                  "description": "Meeting ID"
                },
                "host_id": {
                  "type": "integer",
                  "description": "Host ID"
                },
                "type": {
                  "type": "integer",
                  "description": "Meeting type"
                },
                "topic": {
                  "type": "string",
                  "description": "Meeting topic"
                },
                "user_name": {
                  "type": "string",
                  "description": "User display name"
                },
                "user_email": {
                  "type": "string",
                  "description": "User email"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting start time"
                },
                "end_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting end time"
                },
                "duration": {
                  "type": "integer",
                  "description": "Meeting duration"
                },
                "total_minutes": {
                  "type": "integer",
                  "description": "Number of meeting minutes"
                },
                "participants_count": {
                  "type": "integer",
                  "description": "Number of meeting participants"
                }
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/past_meetings/{meetingUUID}/participants": {
      "get": {
        "summary": "Retrieve past meeting participants",
        "description": "Retrieve ended meeting participants",
        "tags": [
          "Meetings"
        ],
        "operationId": "pastMeetingParticipants",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingUUID"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Participants Report Returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "Array of meeting participant objects",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Participant UUID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Participant display name"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/past_meetings/{meetingId}/instances": {
      "get": {
        "summary": "List of ended meeting instances",
        "description": "List of ended meeting instances",
        "tags": [
          "Meetings"
        ],
        "operationId": "pastMeetings",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of ended meeting instances",
            "schema": {
              "$ref": "#/definitions/MeetingInstances"
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/polls": {
      "get": {
        "summary": "List a meeting's polls ",
        "description": "List polls of a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingPolls",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "List polls of a Meeting  returned",
            "schema": {
              "$ref": "#/definitions/PollList"
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "post": {
        "summary": "Create a meeting's poll",
        "description": "Create a poll for a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingPollCreate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting poll object",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Poll"
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Meeting Poll Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Meeting Poll",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Meeting Poll ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the Meeting Poll",
                      "enum": [
                        "notstart",
                        "started",
                        "ended",
                        "sharing"
                      ],
                      "x-enum-descriptions": [
                        "Poll not start",
                        "Poll started",
                        "Poll ended",
                        "Poll is sharing"
                      ]
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Poll"
                }
              ]
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/polls/{pollId}": {
      "get": {
        "summary": "Retrieve a meeting's poll",
        "description": "Retrieve a meeting's poll",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingPollGet",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "path",
            "name": "pollId",
            "description": "The poll ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Poll object returned",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Meeting Poll ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the Meeting Poll",
                      "enum": [
                        "notstart",
                        "started",
                        "ended",
                        "sharing"
                      ],
                      "x-enum-descriptions": [
                        "Poll not start",
                        "Poll started",
                        "Poll ended",
                        "Poll is sharing"
                      ]
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Poll"
                }
              ]
            }
          },
          "404": {
            "description": "Meeting Poll not found"
          }
        }
      },
      "put": {
        "summary": "Update a meeting's poll",
        "description": "Update a meeting's poll",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingPollUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "path",
            "name": "pollId",
            "description": "The poll ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting Poll",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Poll"
                }
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting Poll Updated"
          },
          "404": {
            "description": "Meeting Poll not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting's Poll",
        "description": "Delete a meeting's Poll",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingPollDelete",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "path",
            "name": "pollId",
            "description": "The poll ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting Poll deleted"
          },
          "404": {
            "description": "Meeting Poll not found"
          }
        }
      }
    },
    "/users/{userId}/recordings": {
      "get": {
        "summary": "List all the recordings",
        "description": "List all the recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingsList",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          },
          {
            "$ref": "#/parameters/Mc"
          },
          {
            "$ref": "#/parameters/Trash"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Recording objects returned",
            "schema": {
              "$ref": "#/definitions/RecordingMeetingList"
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings": {
      "get": {
        "summary": "Retrieve a meeting’s all recordings",
        "description": "Retrieve a meeting’s all recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingGet",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording object returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/RecordingMeeting"
                }
              ]
            }
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting's recordings",
        "description": "Delete a meeting's recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingDelete",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "$ref": "#/parameters/RecordingDeleteAction"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording deleted"
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/{recordingId}": {
      "delete": {
        "summary": "Delete one meeting recording file",
        "description": "Delete one meeting recording file",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingDeleteOne",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "$ref": "#/parameters/RecordingId"
          },
          {
            "$ref": "#/parameters/RecordingDeleteAction"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording file deleted"
          },
          "404": {
            "description": "Meeting recording file not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/status": {
      "put": {
        "summary": "Recover a meeting's recordings",
        "description": "Recover a meeting's recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingStatusUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "recover"
                  ],
                  "x-enum-descriptions": [
                    "recover meeting recording"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording recover"
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/{recordingId}/status": {
      "put": {
        "summary": "Recover a single recording",
        "description": "Recover a single recording",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingStatusUpdateOne",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "$ref": "#/parameters/RecordingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "recover"
                  ],
                  "x-enum-descriptions": [
                    "recover meeting recording"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording recover"
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/settings": {
      "get": {
        "summary": "Retrieve a meeting recording's settings",
        "description": "Retrieve a meeting recording's settings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingSettingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting recording settings returned",
            "schema": {
              "$ref": "#/definitions/RecordingSettings"
            }
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      },
      "patch": {
        "summary": "Update a meeting recording's settings",
        "description": "Update a meeting recording's settings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingSettingsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting recording Settings",
            "schema": {
              "$ref": "#/definitions/RecordingSettings"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording setting's updated"
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      }
    },
    "/metrics/meetings": {
      "get": {
        "summary": "List meetings",
        "description": "List live meetings or past meetings for a specified period",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardMeetings",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingTypePast"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meetings Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date for this report"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date for this report"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "meetings": {
                      "type": "array",
                      "description": "Array of meeting objects",
                      "items": {
                        "$ref": "#/definitions/MeetingMetric"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/metrics/meetings/{meetingId}": {
      "get": {
        "summary": "Retrieve meeting detail",
        "description": "Retrieve live or past meetings detail",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardMeetingDetail",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Metrics"
          },
          {
            "$ref": "#/parameters/MeetingTypePast3"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Returned",
            "schema": {
              "$ref": "#/definitions/MeetingMetric"
            }
          }
        }
      }
    },
    "/metrics/meetings/{meetingId}/participants": {
      "get": {
        "summary": "Retrieve meeting participants",
        "description": "Retrieve live or past meetings participants",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardMeetingParticipants",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Metrics"
          },
          {
            "$ref": "#/parameters/MeetingTypePast3"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Participants Returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "Array of user objects",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Participant UUID"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Participant ID"
                          },
                          "user_name": {
                            "type": "string",
                            "description": "Participant display name"
                          },
                          "device": {
                            "type": "string",
                            "description": "Participant device"
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "Participant IP Address"
                          },
                          "location": {
                            "type": "string",
                            "description": "Participant location"
                          },
                          "network_type": {
                            "type": "string",
                            "description": "Participant network type"
                          },
                          "microphone": {
                            "type": "string",
                            "description": "Participant microphone"
                          },
                          "speaker": {
                            "type": "string",
                            "description": "Participant speaker"
                          },
                          "data_center": {
                            "type": "string",
                            "description": "Participant data center"
                          },
                          "connection_type": {
                            "type": "string",
                            "description": "Participant connection type"
                          },
                          "join_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Participant join time"
                          },
                          "leave_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Participant leave time"
                          },
                          "share_application": {
                            "type": "boolean",
                            "description": "Did participant share application"
                          },
                          "share_desktop": {
                            "type": "boolean",
                            "description": "Did participant share desktop"
                          },
                          "share_whiteboard": {
                            "type": "boolean",
                            "description": "Did participant share whiteboard"
                          },
                          "recording": {
                            "type": "boolean",
                            "description": "Participant record"
                          },
                          "pc_name": {
                            "type": "string",
                            "description": "Participant PC name"
                          },
                          "domain": {
                            "type": "string",
                            "description": "Participant domain"
                          },
                          "mac_addr": {
                            "type": "string",
                            "description": "Participant MAC Address"
                          },
                          "harddisk_id": {
                            "type": "string",
                            "description": "Participant hard disk id"
                          },
                          "version": {
                            "type": "string",
                            "description": "Participant version"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/metrics/meetings/{meetingId}/participants/{participantId}/qos": {
      "get": {
        "summary": "Retrieve meeting participant QOS",
        "description": "Retrieve live or past meetings participant quality of service",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardMeetingParticipantQOS",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Metrics"
          },
          {
            "$ref": "#/parameters/ParticipantId"
          },
          {
            "$ref": "#/parameters/MeetingTypePast2"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Participant QOS Returned",
            "schema": {
              "$ref": "#/definitions/QOSParticipant"
            }
          }
        }
      }
    },
    "/metrics/meetings/{meetingId}/participants/qos": {
      "get": {
        "summary": "List meeting participants QOS",
        "description": "Retrieve list of live or past meetings participants quality of service",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardMeetingParticipantsQOS",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Metrics"
          },
          {
            "$ref": "#/parameters/MeetingTypePast2"
          },
          {
            "$ref": "#/parameters/PageSize4Qos"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Participants Returned",
            "schema": {
              "$ref": "#/definitions/QOSParticipantList"
            }
          }
        }
      }
    },
    "/metrics/meetings/{meetingId}/participants/sharing": {
      "get": {
        "summary": "Retrieve sharing/recording details of meeting participant",
        "description": "Retrieve sharing/recording details of live or past meetings participant",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardMeetingParticipantShare",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Metrics"
          },
          {
            "$ref": "#/parameters/MeetingTypePast2"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Participants Returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "Array of participants",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Participant UUID"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Participant ID"
                          },
                          "user_name": {
                            "type": "string",
                            "description": "Participant display name"
                          },
                          "details": {
                            "type": "array",
                            "description": "Array of sharing and recording details",
                            "items": {
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Type of content shared"
                                },
                                "start_time": {
                                  "type": "string",
                                  "description": "Start time of sharing"
                                },
                                "end_time": {
                                  "type": "string",
                                  "description": "End time of sharing"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/metrics/webinars": {
      "get": {
        "summary": "List webinars",
        "description": "List live webinars or past webinars for a specified period",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardWebinars",
        "parameters": [
          {
            "$ref": "#/parameters/WebinarTypePast"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meetings Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date for this report"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date for this report"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "webinars": {
                      "type": "array",
                      "description": "Array of webinar objects",
                      "items": {
                        "$ref": "#/definitions/WebinarMetric"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/metrics/webinars/{webinarId}": {
      "get": {
        "summary": "Retrieve webinar detail",
        "description": "Retrieve live  or past webinars detail",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardWebinarDetail",
        "parameters": [
          {
            "$ref": "#/parameters/WebinarId4Metrics"
          },
          {
            "$ref": "#/parameters/WebinarTypePast2"
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar Returned",
            "schema": {
              "$ref": "#/definitions/WebinarMetric"
            }
          }
        }
      }
    },
    "/metrics/webinars/{webinarId}/participants": {
      "get": {
        "summary": "Retrieve webinar participants",
        "description": "Retrieve live or past webinar participants",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardWebinarParticipants",
        "parameters": [
          {
            "$ref": "#/parameters/WebinarId4Metrics"
          },
          {
            "$ref": "#/parameters/WebinarTypePast2"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar Participants Returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "Array of user objects",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Participant UUID"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Participant ID"
                          },
                          "user_name": {
                            "type": "string",
                            "description": "Participant display name"
                          },
                          "device": {
                            "type": "string",
                            "description": "Participant device"
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "Participant IP Address"
                          },
                          "location": {
                            "type": "string",
                            "description": "Participant location"
                          },
                          "network_type": {
                            "type": "string",
                            "description": "Participant network type"
                          },
                          "microphone": {
                            "type": "string",
                            "description": "Participant microphone"
                          },
                          "speaker": {
                            "type": "string",
                            "description": "Participant speaker"
                          },
                          "data_center": {
                            "type": "string",
                            "description": "Participant data center"
                          },
                          "connection_type": {
                            "type": "string",
                            "description": "Participant connection type"
                          },
                          "join_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Participant join time"
                          },
                          "leave_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Participant leave time"
                          },
                          "share_application": {
                            "type": "boolean",
                            "description": "Did participant share application"
                          },
                          "share_desktop": {
                            "type": "boolean",
                            "description": "Did participant share desktop"
                          },
                          "share_whiteboard": {
                            "type": "boolean",
                            "description": "Did participant share whiteboard"
                          },
                          "recording": {
                            "type": "boolean",
                            "description": "Participant record"
                          },
                          "pc_name": {
                            "type": "string",
                            "description": "Participant PC name"
                          },
                          "domain": {
                            "type": "string",
                            "description": "Participant domain"
                          },
                          "mac_addr": {
                            "type": "string",
                            "description": "Participant MAC Address"
                          },
                          "harddisk_id": {
                            "type": "string",
                            "description": "Participant hard disk id"
                          },
                          "version": {
                            "type": "string",
                            "description": "Participant version"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/metrics/webinars/{webinarId}/participants/{participantId}/qos": {
      "get": {
        "summary": "Retrieve webinar participant QOS",
        "description": "Retrieve live or past webinar participant quality of service",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardWebinarParticipantQOS",
        "parameters": [
          {
            "$ref": "#/parameters/WebinarId4Metrics"
          },
          {
            "$ref": "#/parameters/ParticipantId"
          },
          {
            "$ref": "#/parameters/WebinarTypePast2"
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar Participant QOS Returned",
            "schema": {
              "$ref": "#/definitions/QOSParticipant"
            }
          }
        }
      }
    },
    "/metrics/webinars/{webinarId}/participants/qos": {
      "get": {
        "summary": "List webinar participant QOS",
        "description": "Retrieve list of live or past webinar participants quality of service",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardWebinarParticipantsQOS",
        "parameters": [
          {
            "$ref": "#/parameters/WebinarId4Metrics"
          },
          {
            "$ref": "#/parameters/WebinarTypePast2"
          },
          {
            "$ref": "#/parameters/PageSize4Qos"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar Participants Returned",
            "schema": {
              "$ref": "#/definitions/QOSParticipantList"
            }
          }
        }
      }
    },
    "/metrics/webinars/{webinarId}/participants/sharing": {
      "get": {
        "summary": "Retrieve sharing/recording details of webinar participant",
        "description": "Retrieve sharing/recording details of live or past webinar participant",
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardWebinarParticipantShare",
        "parameters": [
          {
            "$ref": "#/parameters/WebinarId4Metrics"
          },
          {
            "$ref": "#/parameters/WebinarTypePast2"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar Participants Returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "Array of participants",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Participant UUID"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Participant ID"
                          },
[...]
