.order1Title:hover{
    color: #2C6ECB;
}

.big-icon .Polaris-Icon__Svg{
    max-width: 24px !important;
    max-height: 24px !important;
    width: 24px !important;
    margin-top: -1px !important;
}