.linkClass > .Polaris-Link--removeUnderline:hover {
    text-decoration: none !important;
}

.linkClass > .Polaris-Link:focus:not(:active){
    outline: none !important;
}

.row-heading :hover{
    text-decoration: underline !important;
}

.Polaris-IndexTable__TableCell--first{
    padding-top: 12px !important;
    vertical-align: top !important;
}