.start-node {
    background: #fff;
    border: 1px solid #47466A;
    border-radius: 3px;
    color: #47466A;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.start-node:hover {
    box-shadow: 0px 0px 3px 3px #47466a3d;
}

.red-boundary {
    border: 1px solid #f44336 !important;
}

.red-boundary:hover {
    box-shadow: 0px 0px 3px 3px #f443363d;
}

.green-boundary {
    border: 1px solid #6200EA !important;
}

.green-boundary:hover {
    box-shadow: 0px 0px 3px 3px #6200EA3d !important;
}

.MuiInput-input {
    color: #47466A !important;
    font-size: 12px !important;
}

.MuiFormControl-root {
    margin: 0px !important;
}

.MuiIconButton-root {
    padding-top: 8px !important;
}

.MuiButton-root {
    background-color: #6200EA !important;
    margin: 0 12px 12px 0 !important;
}

.variable-name {
    position: absolute;
    top: -8px;
    left: 0px;
    font-size: 10px !important;
    color: #6200EA !important;
}

.autocomplete-options {
    font-size: 12px !important;
    color: #47466A !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.autocomplete-options:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

.GET {
    color: #61affe !important;
}

.POST {
    color: #49cc90 !important;
}

[method="GET"] {
    color: #61affe !important;
}

[method="POST"] {
    color: #49cc90 !important;
}

.react-flow__attribution a {
    display: none;
}

  
.react-flow__edge-path:hover {
    stroke-width: 2px;
    filter: drop-shadow(3px 5px 2px #47466A3d);
    cursor: pointer;
}

.primary-btn {
    color: #6200EA;
    font-size: 12px;
}
  
.MuiPaper-root {
    color: #47466A !important
}

.request-editor {
    font-size: 12px;
    font-family: monospace;
    color: #47466A;
}

.request-title {
    padding-top: 12px;
    font-size: 13px;
    color: #47466A;
    font-family: 'Poppins';
    font-weight: 500;
}