.editor-navbar .Polaris-Navigation__PrimaryNavigation{
    flex: none !important;
    overflow-x: hidden !important;
}

.editor-navbar .Polaris-InlineStack{
    flex-wrap: unset !important;
}
.editor-navbar .Polaris-Navigation__ItemInnerWrapper{
    border-top: unset !important;
}

.editor-navbar .Polaris-Navigation{
    max-width: 18rem !important;
    height: auto !important;
}

.editor-navbar .Polaris-Navigation__Section{
    padding: 0.5rem !important;
}

.editor-navbar .Polaris-Button__Content, .editor-navbar .Polaris-Button__Text.Polaris-Button--removeUnderline{
    width: inherit;
}

.editor-navbar .Polaris-Button__Content{
    padding-right: 1vw;
}

.editor-navbar .Polaris-Connected{
    padding: 0 12px !important;
}

.active-left-test{
    background: #ECEBFF;
}

.editor-navbar .Polaris-Navigation__Icon{
    margin-right: 2px !important;
}

.editor-navbar .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item{
    padding-left: unset !important;
}
.editor-navbar .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__ItemWrapper {
    margin-left: 2.2vw;
    max-width: 17vw;
}

.editor-navbar .Polaris-Icon--applyColor {
    color: unset !important;
}

.editor-header {
    display: flex;
    justify-content: space-between;
    min-height: 54px;
    padding: 0 16px;
    align-items: center;
    border-right: 1px solid #E1E3E5;
}

.editor-header .Polaris-Text--root{
    max-width: 30vw;
}

.req-resp-tabs .Polaris-LegacyTabs__Title{
    padding: 8px 0 !important;
} 

.req-resp-tabs .Polaris-Box{
    border: none !important;
}

.Polaris-TopBar{
    display: flex;
}

.Polaris-Text--regular{
    width: 100%;
}

.header-testeditor .Polaris-TopBar .Polaris-TopBar__Container .Polaris-TopBar__Search {
    width:0;
}


.header-testeditor .Polaris-Button--variantTertiary:hover{
    background-color: var(--pc-button-icon-fill) !important;
}

.header-testeditor .Polaris-Button--variantPlain .Polaris-Icon__Svg:hover{
    fill: var(--pc-button-icon-fill) !important;
}

.editor-navbar .Polaris-Navigation__ItemWrapper, .Polaris-Navigation__SecondaryNavigation{
    overflow-x: hidden !important;
}

.editor-navbar .Polaris-Navigation__ItemWrapper {
    scrollbar-color: transparent transparent;
}

.editor-navbar .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__ListItem:not(:has(.Polaris-Navigation__Item--selected)):not(.Polaris-Navigation__ListItem:has(.Polaris-Navigation__Item--selected) ~ .Polaris-Navigation__ListItem) .Polaris-Navigation__Item::before {
    opacity: 0 !important;
}


.editor-navbar .Polaris-Navigation--subNavigationActive::before{
    opacity: 0 !important;
}