.styled-endpoint {
    overflow-x:hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap
}
.button-fixed {
    position: absolute;
    z-index: 400;
    right: 48px !important;
    transition: right 0.3s ease-in-out;
    top: 15px;
}

.control-row .Polaris-IndexTable__TableCell {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.condensed-row .Polaris-IndexTable__TableCell {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    vertical-align: top !important;
}

.icons-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    width: 40px;
    height: 40px ;
    border-radius: 32px;
    box-shadow: 0px 2px 16px 0px rgba(33, 43, 54, 0.08), 0px 0px 0px 1px rgba(6, 44, 82, 0.10);
}

.full-url{
    overflow-x: hidden;
    word-break: break-all;
}

.inventory-list .Polaris-ActionList__Prefix {
    display: inline !important;
    /* width: 140px !important; */
}