.apiEndpointsTable .rowIconClass  .Polaris-Icon {
    width: 4rem !important;
}

.styled-endpoint {
    overflow-x:hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap
}
.gpt-button-fixed {
    position: absolute;
    z-index: 400;
    right: 24px !important;
    transition: right 0.3s ease-in-out;
    top: 60px;
}

.control-row .Polaris-IndexTable__TableCell {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.condensed-row .Polaris-IndexTable__TableCell {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}