.html-component .Polaris-Text__text--inverse {
    color: white !important;
}
.attempts-div {
    display: flex;
    flex-direction: column;
    margin: 4px 8px;
    border: 1px solid #47466A73;
}
.row-div-1{
    display: flex;
    border-bottom: 1px solid #47466A73;
    background: #ebf0f4;
    gap: 10px;
    padding: 0 8px;
}
.row-div-1 .title-name{
    border-right: none !important;
}
.api-text{
    font-weight: 600;
    color: #47466A;
}
.url-text{
    font-weight: 500;
    color: #47466A;
}
.row-div{
    display: flex;
    border-bottom: 1px solid #47466A73;
}
.row-div:last-child{
    border-bottom: none !important;
}
.title-name {
    width: 50%;
    font-size: 16px;
    color: #47466A;
    padding: 0 4px;
    justify-content: center;
    display: flex;
    border-right: 1px solid #47466A73;
}
.message {
    width: 50%;
    font-size: 12px;
    padding: 4px;
    word-break: break-all;
}
.url-name {
    justify-content: center;
    display: flex;
    width: 50%;
    color: #47466A;
}
