AKTO_DATA_INGESTION_URL=http://localhost:80
AKTO_API_TOKEN=
AKTO_TIMEOUT=5
AKTO_SYNC_MODE=true
ANTIGRAVITY_API_URL=https://generativelanguage.googleapis.com
MODE=argus
DEVICE_ID=
LOG_DIR=~/.gemini/antigravity/akto/logs
LOG_LEVEL=INFO
LOG_PAYLOADS=false
AKTO_CONNECTOR_VALUE=antigravitycli
CONTEXT_SOURCE=ENDPOINT
AKTO_INGEST_NON_MCP_TOOLS=false
MCP_INGEST_PATH=/mcp
NON_MCP_TOOL_PATH_PREFIX=/tool
