.dashboard {
    overflow-x: hidden;
}

.aktoButton {
    z-index: 518;
    position: fixed;
    right: 9vw;
    top: 11px;
    padding: 4px 12px;
    background: #10a37f;
    color: white;
    border-radius: 8px;
}

.aktoButton .Polaris-Avatar--imageHasLoaded {
    width: 16px !important;
}

.header-css {
    width: 100vw;
    margin-left: -22vw;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}
.Polaris-TopBar{
    border-bottom: 1px solid #E1E3E5;
}

:root {
    --akto-primary: #6200EA;

    --p-color-bg-primary: var(--akto-primary) !important;
    --p-color-bg-primary-hover: #5400CB !important;
    --p-color-bg-primary-active: #4700AE !important;
    --p-color-bg-primary-subdued-hover: #ECEBFF !important;

    --p-color-text-primary: var(--akto-primary) !important;
    --p-color-text-success: var(--akto-primary) !important;
    --p-color-text-primary-hover: var(--akto-primary) !important;

    --p-color-icon-primary: var(--akto-primary) !important;
}