
name: Data Ingestion Staging Deployment 

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      release_version_data_ingestion:
        description: 'Release version for the Data Ingestion staging deployment'
        required: false
      skipTests:
        description: 'Do you want to skip unit tests?'
        required: true
        default: 'False'
        type: choice
        options:
          - 'False'
          - 'True'
      data_ingestion:
        type: boolean
        default: true
        description: Data Ingestion Service

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-akto:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "8"
          architecture: x64
      - uses: actions/setup-node@v2
        with:
          node-version: '17'
      - name: Setup Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "29.2"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      - name: DockerHub login
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - name: Run mvn package
        if: ${{github.event.inputs.skipTests == 'False' }}
        run: mvn package -Dakto-image-tag=${{ github.event.inputs.release_version_data_ingestion}} -Dakto-build-time=$(eval "date +%s") -Dakto-release-version=${{github.event.inputs.release_version_data_ingestion}}
      - name: Run mvn package dangerously
        if: ${{github.event.inputs.skipTests== 'True' }}
        run: mvn package -Dakto-image-tag=${{ github.event.inputs.release_version_data_ingestion}} -Dakto-build-time=$(eval "date +%s") -Dakto-release-version=${{github.event.inputs.release_version_data_ingestion}} -DskipTests

      - name: Build, tag, and push the image to DockerHub
        id: build-image-dockerhub
        env:
          ECR_REGISTRY: aktosecurity
          ECR_REPOSITORY: akto-api-security
          IMAGE_TAG_DATA_INGESTION: ${{github.event.inputs.release_version_data_ingestion}}
        run: |
          docker buildx create --use
          # Build a docker container and push it to DockerHub
          cd apps/dashboard

          if [[ "${{ github.event.inputs.data_ingestion}}" == "true" ]]; then
            cd ../data-ingestion-service
            docker buildx build --platform linux/arm64/v8,linux/amd64 -t $ECR_REGISTRY/data-ingestion-service:$IMAGE_TAG_DATA_INGESTION . --push
          fi